transformers==4.40.0
datasets==2.19.0
torch==2.2.2
accelerate==0.29.3
sentencepiece==0.2.0
rouge-score==0.1.2
nltk==3.8.1
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
scikit-learn==1.4.2
tqdm==4.66.2
evaluate==0.4.1
huggingface-hub==0.22.2
jupyter==1.0.0
ipykernel==6.29.4
bert-score==0.3.13
py7zr==0.21.0
